.App {
  font-family: sans-serif;
  text-align: center;
}

button {
  padding: 0.5rem;
  margin: 0.2rem;
  width: 20%;
  border-radius: 0.8rem;
  border: 1px solid black;
  outline: none;
}
li {
  padding: 1rem;
  border: 0.5px solid gray;
  margin-top: 0.5rem;
  border-radius: 0.3rem;
}
